{% extends 'layout/layout.html.twig' %}
{# add this at the beginning of your template #}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Desciption</th>
            <th>Prix</th>
            <th>Date début</th>
            <th>Date Devis</th>
            <th>Date Rappel</th>
            <th>Mode de paiement</th>          
        </tr>
    </thead>
    <tbody>
        {% for chantier in chantiers %}
            <tr data-href="/chantier/fiche/{{ chantier.traOid }}">
                <td>{{ chantier.traTitre }}</td>
                <td>{{ chantier.traDescription }}</td> 
                <td>{{ chantier.traPrix }}</td> 
                <td>{{ chantier.traDateDebut|date("d/m/Y") }}</td>
                <td>{{ chantier.traDateDevis|date("d/m/Y") }}</td>
                <td>{{ chantier.traDateRappel|date("d/m/Y") }}</td>
                <td>{{ chantier.traModePaiment }}</td> 
                
                
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block lien %}
<script src="../client/client.js"></script>
{% endblock %}
